[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/bundle/vim-solarized8"]
	path = .vim/bundle/vim-solarized8
	url = https://github.com/lifepillar/vim-solarized8
