<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fabriceleyne.combinedwindow.statusiemordering</key>
	<array>
		<string>com.fabriceleyne.module.digitalclock</string>
	</array>
	<key>com.fabriceleyne.combinedwindow.worldclocksordering</key>
	<array>
		<string>Singapore, Singapore</string>
		<string>Cupertino, U.S.A.</string>
		<string>Paris, France</string>
		<string>UTC, Universal Time Coordinate</string>
	</array>
	<key>currentReleaseVersion</key>
	<integer>20251010</integer>
	<key>tcAnalogClockType</key>
	<integer>1</integer>
	<key>tcBackgroundColor</key>
	<integer>2</integer>
	<key>tcCalendarCollapsingState</key>
	<integer>1</integer>
	<key>tcCalendarIconColored</key>
	<integer>1</integer>
	<key>tcCalendarVisible</key>
	<integer>1</integer>
	<key>tcClockTimeAndDateOptionsDate</key>
	<integer>4195072</integer>
	<key>tcClockTimeAndDateOptionsTime</key>
	<integer>146</integer>
	<key>tcDigitalClockType</key>
	<integer>1</integer>
	<key>tcGeneralInterfaceFontDynamicType</key>
	<string>NSCTContentSizeCategoryL</string>
	<key>tcMenuBarFontDynamicType</key>
	<string>NSCTContentSizeCategoryL</string>
	<key>tcSliderVisible</key>
	<integer>1</integer>
	<key>tcWidgetCalendarMonthView</key>
	<integer>0</integer>
	<key>tcWidgetCalendarWeekView</key>
	<integer>1</integer>
	<key>tcWidgetMiniWorldClockMode</key>
	<integer>1</integer>
	<key>tcWidgetShowCalendar</key>
	<integer>1</integer>
	<key>tcWidgetShowMeetingSlider</key>
	<integer>1</integer>
	<key>unitClockComplications</key>
	<dict>
		<key>bottomComplications</key>
		<array>
			<string>com.complication.timezoneoffset</string>
		</array>
		<key>isDigital</key>
		<true/>
		<key>leftComplications</key>
		<array>
			<string>com.complication.todayyesterday</string>
		</array>
		<key>rightComplications</key>
		<array>
			<string>com.complication.businesshours</string>
		</array>
		<key>topleftComplications</key>
		<array>
			<string>com.complication.none</string>
		</array>
	</dict>
	<key>worldClocks</key>
	<dict>
		<key>Cupertino, U.S.A.</key>
		<dict>
			<key>City</key>
			<string>Cupertino</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>US</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<integer>1</integer>
			<key>ShowInMenuBar</key>
			<integer>0</integer>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>America/Los_Angeles</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>37.3230018615723</real>
			<key>long</key>
			<real>-122.032180786133</real>
			<key>ref</key>
			<string>5341145</string>
		</dict>
		<key>Paris, France</key>
		<dict>
			<key>City</key>
			<string>Paris</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>FR</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>Europe/Paris</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>48.8534088134766</real>
			<key>long</key>
			<real>2.34879994392395</real>
			<key>ref</key>
			<string>2988507</string>
		</dict>
		<key>Singapore, Singapore</key>
		<dict>
			<key>City</key>
			<string>Singapore</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>SG</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>Asia/Singapore</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>1.289669990539551</real>
			<key>long</key>
			<real>103.8500671386719</real>
			<key>ref</key>
			<string>1880252</string>
		</dict>
		<key>UTC, Universal Time Coordinate</key>
		<dict>
			<key>City</key>
			<string>UTC</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>Universal Time Coordinate</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>GMT</string>
			<key>Weekly_Days_Off</key>
			<string></string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>51.48257827758789</real>
			<key>long</key>
			<real>-0.00765890022739768</real>
			<key>ref</key>
			<string>-1</string>
		</dict>
	</dict>
</dict>
</plist>
