<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.fabriceleyne.combinedwindow.statusiemordering</key>
	<array>
		<string>com.fabriceleyne.module.digitalclock</string>
	</array>
	<key>com.fabriceleyne.combinedwindow.worldclocksordering</key>
	<array>
		<string>San Francisco, U.S.A.</string>
		<string>Denver, U.S.A.</string>
		<string>New York, U.S.A.</string>
		<string>UTC, Universal Time Coordinate</string>
		<string>London, United Kingdom</string>
		<string>Amsterdam, Netherlands</string>
		<string>Dubai, U.A.E.</string>
		<string>Bangalore, India</string>
		<string>Beijing, China</string>
		<string>Sydney, Australia</string>
	</array>
	<key>currentReleaseVersion</key>
	<integer>20251010</integer>
	<key>sgPreftcCalendarYearlyQuarterStart</key>
	<integer>1</integer>
	<key>tcAnalogClockType</key>
	<integer>1</integer>
	<key>tcBackgroundColor</key>
	<integer>0</integer>
	<key>tcCalendarCollapsingState</key>
	<integer>0</integer>
	<key>tcCalendarIconColored</key>
	<integer>1</integer>
	<key>tcCalendarVisible</key>
	<integer>1</integer>
	<key>tcClockTimeAndDateOptionsDate</key>
	<integer>4195072</integer>
	<key>tcClockTimeAndDateOptionsTime</key>
	<integer>146</integer>
	<key>tcDigitalClockType</key>
	<integer>1</integer>
	<key>tcGeneralInterfaceFontDynamicType</key>
	<string>NSCTContentSizeCategoryL</string>
	<key>tcMenuBarFontDynamicType</key>
	<string>NSCTContentSizeCategoryL</string>
	<key>tcMenubarHighlightType</key>
	<integer>0</integer>
	<key>tcShowCalendarEvents</key>
	<integer>0</integer>
	<key>tcShowCalendarWeek</key>
	<integer>0</integer>
	<key>tcSliderVisible</key>
	<integer>1</integer>
	<key>tcTimeZoneForTimeZoneOffsetComplication</key>
	<integer>6</integer>
	<key>tcWidgetCalendarMonthView</key>
	<integer>0</integer>
	<key>tcWidgetCalendarWeekView</key>
	<integer>1</integer>
	<key>tcWidgetMiniWorldClockMode</key>
	<integer>1</integer>
	<key>tcWidgetShowCalendar</key>
	<integer>1</integer>
	<key>tcWidgetShowMeetingSlider</key>
	<integer>1</integer>
	<key>tcWindowColorAsMenuBar</key>
	<integer>0</integer>
	<key>tcWindowTransparency</key>
	<integer>1</integer>
	<key>unitClockComplications</key>
	<dict>
		<key>bottomComplications</key>
		<array>
			<string>com.complication.timezoneoffset</string>
		</array>
		<key>isDigital</key>
		<true/>
		<key>leftComplications</key>
		<array>
			<string>com.complication.none</string>
		</array>
		<key>rightComplications</key>
		<array>
			<string>com.complication.none</string>
		</array>
		<key>topleftComplications</key>
		<array>
			<string>com.complication.none</string>
		</array>
	</dict>
	<key>worldClocks</key>
	<dict>
		<key>Amsterdam, Netherlands</key>
		<dict>
			<key>City</key>
			<string>Amsterdam</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>NL</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>Europe/Amsterdam</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>52.37403106689453</real>
			<key>long</key>
			<real>4.889689922332764</real>
			<key>ref</key>
			<string>2759794</string>
		</dict>
		<key>Bangalore, India</key>
		<dict>
			<key>City</key>
			<string>Bangalore</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>IN</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>Asia/Kolkata</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>12.97194004058838</real>
			<key>long</key>
			<real>77.59368896484375</real>
			<key>ref</key>
			<string>1277333</string>
		</dict>
		<key>Beijing, China</key>
		<dict>
			<key>City</key>
			<string>Beijing</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>CN</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>Asia/Hong_Kong</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>39.90750122070312</real>
			<key>long</key>
			<real>116.3972320556641</real>
			<key>ref</key>
			<string>1816670</string>
		</dict>
		<key>Denver, U.S.A.</key>
		<dict>
			<key>City</key>
			<string>Denver</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>US</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>America/Boise</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>39.73915100097656</real>
			<key>long</key>
			<real>-104.9847030639648</real>
			<key>ref</key>
			<string>5419384</string>
		</dict>
		<key>Dubai, U.A.E.</key>
		<dict>
			<key>City</key>
			<string>Dubai</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>AE</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>Asia/Dubai</string>
			<key>Weekly_Days_Off</key>
			<string>6,7</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>25.06570053100586</real>
			<key>long</key>
			<real>55.17127990722656</real>
			<key>ref</key>
			<string>292223</string>
		</dict>
		<key>London, United Kingdom</key>
		<dict>
			<key>City</key>
			<string>London</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>GB</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>Europe/London</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>51.5085296630859</real>
			<key>long</key>
			<real>-0.125740006566048</real>
			<key>ref</key>
			<string>2643743</string>
		</dict>
		<key>New York, U.S.A.</key>
		<dict>
			<key>City</key>
			<string>New York</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>US</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>America/New_York</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>40.7142715454102</real>
			<key>long</key>
			<real>-74.0059661865234</real>
			<key>ref</key>
			<string>5128581</string>
		</dict>
		<key>San Francisco, U.S.A.</key>
		<dict>
			<key>City</key>
			<string>San Francisco</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>US</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>America/Los_Angeles</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>37.77492904663086</real>
			<key>long</key>
			<real>-122.4194183349609</real>
			<key>ref</key>
			<string>5391959</string>
		</dict>
		<key>Sydney, Australia</key>
		<dict>
			<key>City</key>
			<string>Sydney</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>AU</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>Australia/Sydney</string>
			<key>Weekly_Days_Off</key>
			<string>7,1</string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>-33.86785125732422</real>
			<key>long</key>
			<real>151.2073211669922</real>
			<key>ref</key>
			<string>2147714</string>
		</dict>
		<key>UTC, Universal Time Coordinate</key>
		<dict>
			<key>City</key>
			<string>UTC</string>
			<key>CityAlias</key>
			<string></string>
			<key>CountryCode</key>
			<string>Universal Time Coordinate</string>
			<key>CustomHolidays</key>
			<dict/>
			<key>ShowDaysOff</key>
			<false/>
			<key>ShowInMenuBar</key>
			<false/>
			<key>TimeFormatOverwrite</key>
			<string></string>
			<key>TimeZone</key>
			<string>GMT</string>
			<key>Weekly_Days_Off</key>
			<string></string>
			<key>WorkingHours</key>
			<dict>
				<key>0.0</key>
				<integer>2</integer>
				<key>0.5</key>
				<integer>2</integer>
				<key>1.0</key>
				<integer>2</integer>
				<key>1.5</key>
				<integer>2</integer>
				<key>10.0</key>
				<integer>0</integer>
				<key>10.5</key>
				<integer>0</integer>
				<key>11.0</key>
				<integer>0</integer>
				<key>11.5</key>
				<integer>0</integer>
				<key>12.0</key>
				<integer>0</integer>
				<key>12.5</key>
				<integer>0</integer>
				<key>13.0</key>
				<integer>0</integer>
				<key>13.5</key>
				<integer>0</integer>
				<key>14.0</key>
				<integer>0</integer>
				<key>14.5</key>
				<integer>0</integer>
				<key>15.0</key>
				<integer>0</integer>
				<key>15.5</key>
				<integer>0</integer>
				<key>16.0</key>
				<integer>0</integer>
				<key>16.5</key>
				<integer>0</integer>
				<key>17.0</key>
				<integer>1</integer>
				<key>17.5</key>
				<integer>1</integer>
				<key>18.0</key>
				<integer>1</integer>
				<key>18.5</key>
				<integer>1</integer>
				<key>19.0</key>
				<integer>1</integer>
				<key>19.5</key>
				<integer>1</integer>
				<key>2.0</key>
				<integer>2</integer>
				<key>2.5</key>
				<integer>2</integer>
				<key>20.0</key>
				<integer>2</integer>
				<key>20.5</key>
				<integer>2</integer>
				<key>21.0</key>
				<integer>2</integer>
				<key>21.5</key>
				<integer>2</integer>
				<key>22.0</key>
				<integer>2</integer>
				<key>22.5</key>
				<integer>2</integer>
				<key>23.0</key>
				<integer>2</integer>
				<key>23.5</key>
				<integer>2</integer>
				<key>3.0</key>
				<integer>2</integer>
				<key>3.5</key>
				<integer>2</integer>
				<key>4.0</key>
				<integer>2</integer>
				<key>4.5</key>
				<integer>2</integer>
				<key>5.0</key>
				<integer>2</integer>
				<key>5.5</key>
				<integer>2</integer>
				<key>6.0</key>
				<integer>2</integer>
				<key>6.5</key>
				<integer>2</integer>
				<key>7.0</key>
				<integer>2</integer>
				<key>7.5</key>
				<integer>2</integer>
				<key>8.0</key>
				<integer>2</integer>
				<key>8.5</key>
				<integer>2</integer>
				<key>9.0</key>
				<integer>0</integer>
				<key>9.5</key>
				<integer>0</integer>
			</dict>
			<key>isTimeZoneDynamic</key>
			<false/>
			<key>lat</key>
			<real>51.48257827758789</real>
			<key>long</key>
			<real>-0.00765890022739768</real>
			<key>ref</key>
			<string>-1</string>
		</dict>
	</dict>
</dict>
</plist>
