<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowAnyShortcut</key>
	<false/>
	<key>alternateDefaultShortcuts</key>
	<true/>
	<key>bottomHalf</key>
	<dict/>
	<key>bottomLeft</key>
	<dict>
		<key>keyCode</key>
		<integer>6</integer>
		<key>modifierFlags</key>
		<integer>1966080</integer>
	</dict>
	<key>bottomRight</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>1966080</integer>
	</dict>
	<key>center</key>
	<dict>
		<key>keyCode</key>
		<integer>8</integer>
		<key>modifierFlags</key>
		<integer>1966080</integer>
	</dict>
	<key>centerThird</key>
	<dict/>
	<key>firstThird</key>
	<dict/>
	<key>firstTwoThirds</key>
	<dict/>
	<key>footprintAnimationDurationMultiplier</key>
	<real>0.0</real>
	<key>gapSize</key>
	<real>5.0</real>
	<key>hideMenubarIcon</key>
	<true/>
	<key>landscapeSnapAreas</key>
	<string>[]</string>
	<key>larger</key>
	<dict>
		<key>keyCode</key>
		<integer>16</integer>
		<key>modifierFlags</key>
		<integer>1966080</integer>
	</dict>
	<key>lastThird</key>
	<dict/>
	<key>lastTwoThirds</key>
	<dict/>
	<key>lastVersion</key>
	<string>102</string>
	<key>launchOnLogin</key>
	<true/>
	<key>leftHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>7</integer>
		<key>modifierFlags</key>
		<integer>1966080</integer>
	</dict>
	<key>maximize</key>
	<dict/>
	<key>maximizeHeight</key>
	<dict/>
	<key>nextDisplay</key>
	<dict/>
	<key>previousDisplay</key>
	<dict/>
	<key>reflowTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>restore</key>
	<dict/>
	<key>rightHalf</key>
	<dict>
		<key>keyCode</key>
		<integer>9</integer>
		<key>modifierFlags</key>
		<integer>1966080</integer>
	</dict>
	<key>smaller</key>
	<dict>
		<key>keyCode</key>
		<integer>45</integer>
		<key>modifierFlags</key>
		<integer>1966080</integer>
	</dict>
	<key>subsequentExecutionMode</key>
	<integer>0</integer>
	<key>todo</key>
	<integer>2</integer>
	<key>toggleTodo</key>
	<dict>
		<key>keyCode</key>
		<integer>11</integer>
		<key>modifierFlags</key>
		<integer>786432</integer>
	</dict>
	<key>topHalf</key>
	<dict/>
	<key>topLeft</key>
	<dict/>
	<key>topRight</key>
	<dict/>
	<key>windowSnapping</key>
	<integer>2</integer>
</dict>
</plist>
