<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSStatusItem Preferred Position Item-0</key>
	<real>185.0</real>
	<key>lastUsedDate</key>
	<date>2026-06-12T12:27:15Z</date>
	<key>reference</key>
	<string>9ff8243598c1c21c</string>
</dict>
</plist>
