<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSTableView Columns v3 jpPlentycomSteerMousePrefpane_chordingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrxARCwwUHyAhIiMkJSs1NjdB
	QkNVJG51bGzSDQ4PE1pOUy5vYmplY3RzViRjbGFzc6MQERKAAoAKgA2AENMVDQ4WGh5X
	TlMua2V5c6MXGBmAA4AEgAWjGxwdgAaAB4AIgAlaSWRlbnRpZmllclVXaWR0aFZIaWRk
	ZW5VQ2hvcmQjQGcgAAAAAAAI0iYnKClaJGNsYXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rp
	b25hcnmiKCpYTlNPYmplY3TTFQ0OLDAeoxcYGYADgASABaMxMh2AC4AMgAiACVhGdW5j
	dGlvbiNAc6AAAAAAANMVDQ44PB6jFxgZgAOABIAFoz0+HYAOgA+ACIAJVE5vdGUjQFBA
	AAAAAADSJidERV5OU011dGFibGVBcnJheaNERipXTlNBcnJheQAIABEAGgAkACkAMgA3
	AEkATABSAFQAaABuAHMAfgCFAIkAiwCNAI8AkQCYAKAApACmAKgAqgCuALAAsgC0ALYA
	wQDHAM4A1ADdAN4A4wDuAPcBBAEHARABFwEbAR0BHwEhASUBJwEpASsBLQE2AT8BRgFK
	AUwBTgFQAVQBVgFYAVoBXAFhAWoBbwF+AYIAAAAAAAACAQAAAAAAAABHAAAAAAAAAAAA
	AAAAAAABig==
	</data>
	<key>NSTableView Sort Ordering v2 jpPlentycomSteerMousePrefpane_chordingTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABowsMEVUkbnVsbNINDg8QWk5T
	Lm9iamVjdHNWJGNsYXNzoIAC0hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nlc15OU011dGFi
	bGVBcnJheaMUFhdXTlNBcnJheVhOU09iamVjdAgRGiQpMjdJTFJUWF5jbnV2eH2IkaCk
	rAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Supports v2 jpPlentycomSteerMousePrefpane_chordingTable</key>
	<true/>
	<key>jpPlentycomCursorSensePrefpane_share_settings</key>
	<true/>
</dict>
</plist>
