<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllSpacesAndDisplays</key>
	<dict>
		<key>Desktop</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Choices</key>
				<array>
					<dict>
						<key>Configuration</key>
						<data>
						</data>
						<key>Files</key>
						<array/>
						<key>Provider</key>
						<string>com.apple.wallpaper.choice.macintosh</string>
					</dict>
				</array>
				<key>EncodedOptionValues</key>
				<data>
				YnBsaXN0MDDRAQJWdmFsdWVz0gMEBQxeYXBwZWFyYW5j
				ZU1vZGVbY29sb3JTY2hlbWXRBgdWcGlja2Vy0QgJUl8w
				0QoLUmlkVGRhcmvRBg3RCA7RCg9YZGFya0dyYXkICxIX
				JjI1PD9CRUhNUFNWAAAAAAAAAQEAAAAAAAAAEAAAAAAA
				AAAAAAAAAAAAAF8=
				</data>
				<key>Shuffle</key>
				<string>$null</string>
			</dict>
			<key>LastSet</key>
			<date>2025-12-13T23:46:12Z</date>
			<key>LastUse</key>
			<date>2026-06-14T19:48:13Z</date>
		</dict>
		<key>Idle</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Choices</key>
				<array>
					<dict>
						<key>Configuration</key>
						<data>
						</data>
						<key>Files</key>
						<array/>
						<key>Provider</key>
						<string>com.apple.wallpaper.choice.sequoia</string>
					</dict>
				</array>
				<key>EncodedOptionValues</key>
				<data>
				YnBsaXN0MDDRAQJWdmFsdWVz0QMEWmFwcGVhcmFuY2XR
				BQZWcGlja2Vy0QcIUl8w0QkKUmlkWWF1dG9tYXRpYwgL
				EhUgIyotMDM2AAAAAAAAAQEAAAAAAAAACwAAAAAAAAAA
				AAAAAAAAAEA=
				</data>
				<key>Shuffle</key>
				<string>$null</string>
			</dict>
			<key>LastSet</key>
			<date>2025-04-06T03:47:38Z</date>
			<key>LastUse</key>
			<date>2026-06-14T19:48:13Z</date>
		</dict>
		<key>Type</key>
		<string>individual</string>
	</dict>
	<key>Displays</key>
	<dict/>
	<key>Spaces</key>
	<dict/>
	<key>SystemDefault</key>
	<dict>
		<key>Desktop</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Choices</key>
				<array>
					<dict>
						<key>Configuration</key>
						<data>
						</data>
						<key>Files</key>
						<array/>
						<key>Provider</key>
						<string>com.apple.wallpaper.choice.macintosh</string>
					</dict>
				</array>
				<key>EncodedOptionValues</key>
				<data>
				YnBsaXN0MDDRAQJWdmFsdWVz0gMEBQxeYXBwZWFyYW5j
				ZU1vZGVbY29sb3JTY2hlbWXRBgdWcGlja2Vy0QgJUl8w
				0QoLUmlkVGRhcmvRBg3RCA7RCg9YZGFya0dyYXkICxIX
				JjI1PD9CRUhNUFNWAAAAAAAAAQEAAAAAAAAAEAAAAAAA
				AAAAAAAAAAAAAF8=
				</data>
				<key>Shuffle</key>
				<string>$null</string>
			</dict>
			<key>LastSet</key>
			<date>2025-12-13T23:46:12Z</date>
			<key>LastUse</key>
			<date>2025-12-13T23:46:12Z</date>
		</dict>
		<key>Idle</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Choices</key>
				<array>
					<dict>
						<key>Configuration</key>
						<data>
						</data>
						<key>Files</key>
						<array/>
						<key>Provider</key>
						<string>com.apple.wallpaper.choice.sequoia</string>
					</dict>
				</array>
				<key>EncodedOptionValues</key>
				<data>
				YnBsaXN0MDDRAQJWdmFsdWVz0QMEWmFwcGVhcmFuY2XR
				BQZWcGlja2Vy0QcIUl8w0QkKUmlkWWF1dG9tYXRpYwgL
				EhUgIyotMDM2AAAAAAAAAQEAAAAAAAAACwAAAAAAAAAA
				AAAAAAAAAEA=
				</data>
				<key>Shuffle</key>
				<string>$null</string>
			</dict>
			<key>LastSet</key>
			<date>2025-04-06T03:47:38Z</date>
			<key>LastUse</key>
			<date>2025-12-13T23:46:10Z</date>
		</dict>
		<key>Type</key>
		<string>individual</string>
	</dict>
</dict>
</plist>
